@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/typography.scss' as *;

.tag {
  padding: $spacing-xxs $spacing-sm;
  background: $color-neutral-200;
  border-radius: $radius-xl;
  line-height: $line-height-sm;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
