@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.container {
  min-height: 100dvh;
}

.content {
  padding: $spacing-md $spacing-sm;

  @media (min-width: $breakpoint-sm) {
    padding-inline: $spacing-xl;
  }
}
