@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/typography.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;
@use '@/styles/tokens/animations.scss' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border: none;
  cursor: pointer;
  padding: $spacing-xs $spacing-md;
  border-radius: $radius-full;
  white-space: nowrap;

  @include has-motion {
    transition:
      background 0.2s,
      color 0.2s,
      border 0.2s;
  }
}

.primary {
  background: $color-secondary-400;
  color: $color-neutral-100;
  border: $border-width-base solid $color-secondary-400;

  &:hover,
  &:focus-visible {
    background: $color-secondary-500;
    color: $color-neutral-100;
  }
}

.secondary {
  background: transparent;
  color: $color-secondary-400;
  border: $border-width-base solid $color-secondary-400;

  &:hover {
    color: $color-secondary-500;

    border-color: $color-secondary-500;
  }
}

.small {
  padding: $spacing-xs $spacing-md;
  line-height: $line-height-sm;
}
