@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.searchFocused {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $spacing-xs;
  right: $spacing-sm;

  @media (min-width: $breakpoint-sm) {
    right: $spacing-xxl;
    left: $spacing-xxl;
  }
}
