@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans.ttf') format('truetype');
  font-weight: 300 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSansItalic.ttf') format('truetype');
  font-weight: 300 800;
  font-style: italic;
}
