@use './tokens/colors.scss' as *;
@use '@/styles/tokens/border.scss' as *;
@use '@/styles/tokens/typography.scss' as *;

html {
  background: $color-neutral-100;
}

html,
body,
#root {
  font-style: normal;
  font-family: $font-family-base;
}

body {
  font-size: $font-size-sm;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: $scrollbar-track-bg;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-bg;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-bg;
  border-radius: $radius-sm;
}

*:focus-visible {
  outline: none;
}
