$color-neutral-100: #f0f0f2;
$color-neutral-200: #e0e2e6;
$color-neutral-300: #c0c2c8;
$color-neutral-400: #9eadae;
$color-neutral-500: #7f8185;
$color-neutral-600: #5e5f63;
$color-neutral-700: #202122;

$color-primary-300: #0b0e3a;
$color-primary-400: #060725;
$color-primary-500: #02031b;

$color-secondary-300: #ef4c84;
$color-secondary-400: #d31450;
$color-secondary-500: #8c103b;

$color-accent-300: #00bfc1;
$color-accent-400: #008b8e;
$color-accent-500: #006c6e;

$color-danger-100: #ffeaea;
$color-danger-700: #a30000;
