$spacing-xxxs: 0.25rem;
$spacing-xxs: 0.5rem;
$spacing-xs: 0.75rem;
$spacing-sm: 0.875rem;
$spacing-md: 1rem;
$spacing-md-lg: 1.125rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 2.25rem;
$spacing-xxxl: 3rem;
$spacing-xxxxl: 3.5rem;

$spacing-none: 0;
