$font-family-base: 'Open Sans', Arial, sans-serif;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.35rem;
$font-size-xl: 1.65rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 2.25rem;
$font-size-xxxxl: 3.5rem;

$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$line-height-sm: 1;
$line-height-base: 1.5;
$line-height-heading: 1.3;
