@use '@/styles/tokens/spacing.scss' as *;
@use '@/styles/tokens/colors.scss' as *;
@use '@/styles/tokens/typography.scss' as *;
@use '@/styles/tokens/breakpoints.scss' as *;

.compact {
  display: flex;
  align-items: center;
  gap: $spacing-xxxs;

  > :not(:last-child)::after {
    font-size: $font-size-xs;
    line-height: $line-height-sm;
    content: '●';
    color: $color-secondary-400;
    margin-left: $spacing-xxxs;
  }

  @media (min-width: $breakpoint-md) {
    font-size: $font-size-sm;
  }
}

.detailed {
  display: flex;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: $spacing-sm;
  gap: $spacing-xxxs;
}
